{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 3%"
      }
    ]
  ]
  //"plugins": ["@babel/plugin-proposal-class-properties"],
  // "plugins": [
  //   "@babel/plugin-proposal-object-rest-spread",
  //   "@babel/plugin-transform-arrow-functions"
  // ]
}
